[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
xlrd = "*"
openpyxl = "*"
thepiratebay = "*"
search-torrent = "*"
tpblite = "*"
magnet2torrent = "*"
pyyify = "*"
python-qbittorrent = "*"

[dev-packages]

[requires]
python_version = "3.8"
